
chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
tmp/output.json
tmp/tf_AGnews.tfrecord
uncased_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
uncased_L-12_H-768_A-12_AGnews_pretrain/model.ckpt-0.data-00000-of-00001
